[Unit]
Description=ScramAlarm Background Service Supervisor
After=default.target

[Service]
Type=simple
Environment=TERM=xterm-256color
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=ALSA_CARD=default
WorkingDirectory=/home/artem/Projects/ScramAlarm
ExecStart=/bin/bash -c 'source .wak-env/bin/activate && export PYTHONPATH=alarm_tui && python -m alarm_tui run'
Restart=always

[Install]
WantedBy=default.target
